*{
    margin: 0;
    padding: 0;
}
#ul{
    display: flex;
    justify-content: flex-end;
    margin-top: 3vw;
    margin-right: 40px;
}

#li{
    list-style-type: none;
}

#white{
    color: white;
    font-size: 55px;
}

#card-size{
    width: 100%;
}
#h{
    height: 100%;
    width: 800px;
}

#a{
    margin-left: 50px;
    text-decoration: none;
    color: 
    #2d3640;
font-size: 30px;
padding: 11px;
transition: 0.9s;
}
li a:hover{
    background-color: #435b74 !important;
    border-radius: 15px;
    color: #ebebeb;
    padding: 10px;
}
#a:hover{
    background-color:#435b74;
    color: #98b5c2
    ;
    border-radius: 10px;

}

body{
    background-color: #ebebeb;
}

#navbar{
    justify-content: space-between;
    display: flex;

}
#Books{
    width: 100px;
    height: 600px;
}
#background{
    background-repeat: no-repeat;
    background-image: url(back.png);
}
/* carousel code*/
#height{
    height: 750px;

}
#carousel{
    width: 95%;
    margin-left: 3%;
    
}
@media screen and (max-width:878px) {
   
    #background{
        height: 700px;
    }
    #white{
        color: white;
        font-size: 50px;
        margin-top: 70px !important;
    }
  .card{
    width: 100% !important;
  }
  #height{
    height: 400px;

}
.fix{
    left: 5% !important;
    z-index: 100;
}
}
#im{
width:100px;
height: 100px;
background-color: #98b5c2;
}
#addtocart{
    height: 35px;
    width: 35px;
}

#Comments{
    width: 300px;
}
#af{
    border-radius: 15px;
    color: #ebebeb;
    font-size: 18px;
    padding: 2px;
    margin-top: 5px;
}
#af:hover{
    border-radius: 10px !important;
 background-color: #98b5c2;    font-size: 18px;
    padding: 8px !important;
    transition: 0.2s;

}
h5{
    font-size: 26px
!important;
margin-bottom: 10px  !important;
}
#btn{
    background-color: #2d3640;
    color:#f7f7f7;
    border: none;
}
.card-text{
    margin-top: 30px;
}

#btn:hover{
    background-color: #435b74;
    color: #ebebeb;
    box-shadow: 0 0 20px #2d3640;
}
#psychology{
    background-repeat: no-repeat;
background-image: url(photo-1638443436690-db587cc66f12.jpg);
width: 48%;
height: 500px;
color:#f7f7f7;
background-size: 110%;
font-weight: 20;
border-radius: 35px;
margin-left: 1.2%;
}
#Fantasy{
    background-repeat: no-repeat;
color:#f7f7f7
;font-weight: 20;
background-image: url(HD-wallpaper-fantasy-library.jpg);
    width: 48%;
height: 500px;
background-size: 110%;
border-radius: 35px;

margin-left: 1.2%;
}
.h2{
    font-size: 50px !important;
    margin-top: 10% !important;
    margin-left: 8%;
    color: #2d3640;
}

#money{
        background-repeat: no-repeat;
        border-radius: 35px;
        font-weight: 20;

        width: 48%;
        color:#f7f7f7
        ;        background-size: 110%;

        height: 500px;background-image: url(moneyback.jpg);
margin-left: 4.8%;

}
#money:hover ,#self:hover,#psychology:hover,#Fantasy:hover{
    box-shadow: 0 0 30px #F5ECD5;

}
#self{
    background-repeat: no-repeat;
    width: 48%;
    height: 500px;background-image:url(books-human-brain-desk-self-development-education-concept-d-render-illustration-296774184.webp);
margin-left: 4.8%;
border-radius: 35px;
font-weight: 20;

color:#f7f7f7
;

}
#pad{
width: 97%;
}
#cards:hover{
box-shadow: 0 0 30px #F5ECD5;
}

#sideimg2{
    width: 100%;
    border-radius: 20px;
    height: 500px;
}

#minus #plus{
    background-color:#ebebeb;
    border-radius: 2px;
    border: 1px #f7f7f7 solid;


}
.nter{

    margin-left: 30%;
}
#total-price{
    color: #ebebeb;
}
.fix{
    position: fixed;
    left: 85%;
    z-index: 100;
}
#div{
    display: none;

}
.lead{
margin-top: 7%!important;
}
/* Mobile-specific fixes */
@media (max-width: 767px) {
    /* Center the card body content */
    .card-body {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        text-align: center !important;
    }

    /* Plus and Minus buttons */
    .card-body button[id^="plus"],
    .card-body button[id^="minus"] {
        width: 40px !important;
        height: 40px !important;
        margin: 5px !important;
        padding: 0 !important;
        display: inline-flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    /* Amount span */
    .card-body span[id^="amount"] {
        font-size: 18px !important;
        padding: 5px 10px !important;
        display: inline-block !important;
    }

    /* Add to cart button */
    .card-body button[id^="buy"] {
        width: 90% !important;
        max-width: 300px !important;
        margin: 10px auto !important;
        display: block !important;
        margin-left: 0 !important; /* override desktop margin */
    }
    #buy,#buy1,#buy2,#buy3,#buy4,#buy5,#buy6,#buy7,#buy8{
    min-width:100% ; 
}
}
